@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #ababab;
    padding-inline: 10px;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    gap: 20px;
}

.title {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 50px;
    padding: 20px 0 0;
    grid-column: 1 / 5;
}

.title_popcorn {
    font-size: 55px;
    color: rgb(214, 214, 84);
}

.options {
    border: 1px solid pink;
    gap: 20px;
    height: 80%;
}

.options__topic {
    text-align: center;
    font-size: 30px;
}

.options__container {
   display: grid;
   align-items: center;
   /* align-content: center; */
   height: 80%;
}

.options__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 50%;
    text-align: center;
    overflow-y: scroll;
}

.options__list a {
    text-decoration: none;
    color: #fff;
    display: block;
    cursor: pointer;
    width: 100%; 
}

.options__list a:hover {
    background-color: rgb(214, 214, 40);
}